.container{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(239, 217, 217);
    align-items: center;
    padding: 20px;
}

img{
    width: 70px;
    height: 40px;
}
.websites{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    opacity: 0.5;
    gap:20px;
}
button{
    padding: 10px;
    background-color: gray;
    color: aliceblue;
    border: none;
    border-radius: 10px;
}