.container {
  background-color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
}
.body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.header {
  margin-bottom: 50px;
  gap: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 10px 20px #f6f3f3;
}
.paragraph {
  width: 500px;
  flex-direction: row;
  gap: 20px;
  color: rgb(7, 7, 62);
}
button{
    padding: 10px;
    background-color:red;
    color: aliceblue;
    border: none;
    margin-top: 30px;
}
h1{
    font-weight: bold;
}

