.container{
    width: 800px;
    height: 750px;
    background-color: rgb(161, 158, 158);
    padding: 70px;
   

}
.container img{
    width: 170px;
    height: 170px;
}
.header{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.header2{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 25px;
    font-size: 15px;
    color: rgb(20, 33, 58);
}
.year{
    background-color: rgb(50, 50, 201);
    color: white;
    width: 50px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
}
.year-category {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.header3{
    text-align: center;
    position: relative;
    top: 30px;
}
